@import "tailwindcss";

/* Ocultar scrollbar para Chrome, Safari y Opera */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
html {
  ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Dentro de editorStyles en RichTextEditor.tsx */
.tiptap-editor ul {
  list-style-type: none !important;
  padding-left: 1.5rem !important;
  margin: 1rem 0 !important;
}

.tiptap-editor ul li {
  position: relative;
  padding-left: 0.5rem;
}

.tiptap-editor ul li::before {
  content: "—" !important;
  position: absolute;
  left: -1.2rem;
  color: #ff6b00 !important;
  font-weight: 900;
}

.tiptap-editor ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
  margin: 1rem 0 !important;
}

.tiptap-editor ol li::marker {
  color: #ff6b00 !important;
  font-weight: 900;
}
